.custlogo:hover {
  color: black;
  background-color: white;
  text-decoration: none;
}


.main {
  text-align: center;
  font-family: Verdana, Geneva, sans-serif;
  color: #212529;
}

.masonry { /* Masonry container */
    column-count: 4;
    column-gap: 1em;
}


.item { /* Masonry bricks or child elements */
    background-color: #eee;
    display: inline-block;
    margin: 0 8px 8px 0; /* Some gutter */
    width: 100%;
}

/* Box-sizing reset: //w3bits.com/?p=3225 */
html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

/* The Masonry Container */
.masonry {
  display: flex;
  flex-flow: column wrap;
  margin: 1.5em;
  max-width: 100%;
  column-gap: 1.5em;
}

/* The Masonry Brick */
.item {
  background: #fff;
  padding: 1em;
  margin: 0 0 1.5em;
}

/* Masonry on large screens */
@media only screen and (min-width: 1024px) {
  .masonry {
    column-count: 4;
  }
}

/* Masonry on medium-sized screens */
@media only screen and (max-width: 1023px) and (min-width: 768px) {
  .masonry {
    column-count: 3;
  }
}

/* Masonry on small screens */
@media only screen and (max-width: 767px) and (min-width: 540px) {
  .masonry {
    column-count: 2;
  }
}
